*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100% ;
    height: 100%;
    background-color: #b1e1b3;
    font-family: 'Poppins', sans-serif;
}

#pannel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #fff;
}

#ptop{
    display: flex;
    padding: 0px 30% ;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #48915e;
}

.box{
    color: #275f3a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 25px ;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    
}

.elem{
 
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
}

/* styling pbtm */

#pbtm{ 
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: calc(100%-100px);
    background-color: #fff;
    padding: 20px 18px;
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: #29913e;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
        background-color: #88cb84;
}